@using CT.SC.Foundation.Assets
@using CT.SC.Foundation.Assets.Models
@using CT.SC.Foundation.Assets.Services
@using CT.SC.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore
@using Sitecore.Mvc
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript :: Start :: -->
    <script src="/CT/Assets/scripts/Foundation/CT.SC.Foundation.Vendor.min.js"></script>
    <script src="/CT/Assets/scripts/Foundation/foundation.min.js"></script>
    <script src="/CT/Assets/scripts/Project/Common/CT.SC.Common.Website.Frameworks.min.js"></script>
    <!-- Latest compiled and minified JavaScript :: End :: -->

    <!-- Latest compiled and minified CSS :: Start :: -->
    <link href="/CT/Assets/css/Foundation/CT.SC.Foundation.Vendor.min.css" rel="stylesheet" />
    <link href="/CT/Assets/css/Project/Common/CT.SC.Common.Website.Frameworks.min.css" rel="stylesheet" />
    @RenderAssetsService.Current.RenderStyles()
    <!-- Latest compiled and minified CSS :: End :: -->
    @Html.Sitecore().Placeholder("page-assets")
    @Html.Sitecore().VisitorIdentification()
</head>
<body class="header-static @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">

    <div id="divTopNavigation">
        @Html.Sitecore().Placeholder("header-top")
    </div>
    <div id="divNavigationBar">
        @Html.Sitecore().Placeholder("navbar")
    </div>
    <div id="errorContainer" class="errorSection hideError"> </div>
    <div id="divMainContainer">
        @Html.Sitecore().Placeholder("page-layout")
    </div>

        @Html.Sitecore().Placeholder("footer")

        @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)

</body>
</html>
